@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

.APP {
  text-align: center;
  font-family: 'Ubuntu Mono', monospace;
}

.APP .text-area-for-typing {
  resize: none;
  font-family: inherit;
  outline: none;
  font-size: 18px;
}

.APP .toggle-game {
  font-family: inherit;
  padding: 10px 20px;
  font-size: 18px;
}

